.endodoncija {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.endodoncija h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
}

.endodoncija p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.endodoncija ul,
.endodoncija ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

.endodoncija li {
  font-size: 18px;
  margin-bottom: 10px;
}

.endodoncija ol li {
  margin-bottom: 15px;
}
